html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: lightblue;
}

nav {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  width: 400px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  border-bottom: 1px dotted black;
  text-align: center;
  padding: 0.5rem;
  background-color: tomato;
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: gold;
  color: #333;
}

li:first-child a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

li:last-child a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: none;
}